@import './variables';

*{
    font-size: 15px;
    box-sizing: border-box;
}
body{
    // background-color: $Lighrt-Grayish-Cyan-Background;
    // background-color:red;
    
}
.bg-color{
    background-color: $Very-Dark-Grayish-Cyan;
}
