// theme-variables 
$Lighrt-Grayish-Cyan-Background: hsl(180, 52%, 96%);
$Ligh-tGayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
$Dark-Grayish-Cyan80: hsl(180, 8%, 52%);
$Very-Dark-Grayish-Cyan: hsl(1, 14%, 20%);
$primary: hsl(180, 29%, 50%);
